In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Data Preparation

In [2]:
import P1_1

In [3]:
preds, posts, errs = P1_1.Run_myNB(10, 10)

In [4]:
errs

[[0.96, 0.7710843373493976, 0.8375],
 [0.8, 0.9815950920245399, 0.8925],
 [0.92, 0.8846153846153846, 0.9],
 [0.96, 0.7868852459016393, 0.85],
 [0.855, 0.9715909090909091, 0.915],
 [0.97, 0.7950819672131147, 0.86],
 [0.975, 0.6890459363957597, 0.7675],
 [0.92, 0.8888888888888888, 0.9025],
 [0.85, 0.8854166666666666, 0.87],
 [0.945, 0.756, 0.82]]

### P1_2

In [5]:
import pandas as pd
import P1_2

In [9]:

FILEPATH = "./nbastat2021.xlsx"

data = pd.read_excel(FILEPATH)
#data.columns

#Change columns name
data.columns = [
    'Name', 'Team', 'GP', 'MPG', 'FT%', '2P%', '3P%',
    'PPG', 'RPG', 'APG', 'SPG', 'BPG', 'TOP', 'POS'             
                 ]

#Create simple dataframe
df = data[['FT%', '2P%', '3P%', 'PPG', 'RPG', 'APG', 'SPG', 'BPG', 'TOP', 'POS']]
df.head()

     FT%    2P%    3P%   PPG   RPG  APG   SPG   BPG   TOP  POS
0  0.589  0.457  0.362   8.6   6.8  1.1  0.52  0.56  1.18    F
1  0.544  0.557  0.000   7.2   9.9  3.2  0.82  0.76  1.55    C
2  0.754  0.549  0.000  19.0  10.3  3.5  1.50  0.78  2.70  F-C
3  0.873  0.580  0.311  13.5   5.6  0.9  0.31  1.02  0.93  F-C
4  0.722  0.434  0.311  12.8   3.3  2.8  0.82  0.38  1.70    G

In [10]:
df['POS'] = P1_2.Str_to_ID(df['POS'])

/var/folders/ks/zdzpzdss37j5m0f27_d5d7qh0000gn/T/ipykernel_25610/630500782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['POS'] = P1_2.Str_to_ID(df['POS'])

In [11]:
X_train = df.iloc[:200, :9]
Y_train = df.iloc[:200, 9]

X_test = df.iloc[200:, :9]
Y_test = df.iloc[200:, 9]

In [12]:
pred, post, error = P1_2.MultiClass_myNB(X_train, Y_train, X_test, Y_test)

In [15]:
error

0.35